html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#login-div{
    width: 90%;
    margin: auto;
    height: 40vh;
    margin-top: 20px;
    border-bottom: 1px solid black;
    display: flex;
}

#login-div h1{
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 70px;

}
#left-div{
    width: 45%;
    margin-left: 10%;
    margin-top: 2%; 
}

#right-div{
    width: 40%;
    margin: 30px 0;
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 40px;
    border: 1px solid #0b0207;
    border-radius: 15px; 
    /* box-shadow: 0 8px 30px -7px rgba(0, 0, 0, 0.15); */
}

#right-div .login-flex{
    display: flex;
    justify-content: left;
    border: 1px solid black;
    border-radius: 4px; 
    width: 100%;
    height: 54px;
    margin-top: 20px;
}

.login-flex > svg{
    color: #0b0207;
    align-self: center;   
    margin-left: 10px;
    /* cursor: pointer; */
}

#right-div input[type="submit"], #right-div .login-flex, .form-flex{
    box-shadow: none;
}

#right-div input[type="submit"]:hover{
    cursor: pointer;
    transform: none;
    font-weight: none;
}

#left-div p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 100px;
}

#disable{
    width: 90%;
    margin: auto;
    margin-top: 3%;
}


#all-users, #all-products{
    width: 90%;
    margin: auto;
    height: auto;
    margin-bottom: 10%;
}

#users-label, #products-label{
    display: flex;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#users-label input[type="submit"], #products-label input[type="submit"]{
    border: none;
    outline: none;
    width: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #0b0207;
    border-radius: 4px; 
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 70%;
    /* transition: 200ms; */
}

#users-label input[type="submit"]{
    margin-left: 53%;
}

#users-label input[type="text"]{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 12px;
    height: 50px;
}

#users-label input[type="text"]:focus{
    outline: none;
    border: 1px solid black;
}


#users-label input[type="submit"]:hover, #products-label input[type="submit"]:hover{
    cursor: pointer;
    transform: none;
    font-weight: none;
}


#all-users h2, #all-products h2{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#product-content{
    width: 80%;
    margin: auto;
    border-top: none;
    margin-bottom: 30px;
    columns: 250px 3;

}

#product-content article{
    break-inside: avoid-column;
    margin-bottom: 1rem;
}

article{
    width: 90%;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 8px 20px -7px rgba(0, 0, 0, 0.5);
}

img{
    width: 90%;
}

.prod-info{
    margin-top: 5px;
    width: 45%; 
    margin-left: 5%; 
    list-style: none; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.prod-info li{
    margin-bottom: 20px;
}

#action{
    display: flex; list-style: none; 
    margin-top: 20px; 
    border-top: 1px solid rgba(29,53,13,0.15000002); 
    padding-left: 10px; 
    padding-top: 5px;
    color: #999;
    font-size: 18px;
}

#action li:first-child:hover{
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

#action li:last-child:hover{
    cursor: pointer;
    color: black;
}



#theader{
    width: 100%;
    display: flex;
}

#theader li{
    list-style: none;
    width: 100%;
    height: 60px;
    padding: 15px;
    border: 1px solid #999;
    border-left: none;
    border-top: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#theader:first-child, .row li:first-child{
    border-left: 1px solid #999;
}

#tbody .row{
    width: 100%;
    margin: 0;
}

.row li{
    list-style: none;
    width: 100%;
    height: 60px;
    padding: 15px;
    border: 1px solid #999;
    border-left: none;
    border-top: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#tbody ul:nth-child(odd){
    background-color: rgba(145, 146, 165, .2);
}

.row .row-edit{
    margin-right: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border-right: 1px solid #999;
}

.row .row-edit:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 400;
}

.row svg{
    color: #999;
}

.row svg:hover{
    cursor: pointer;
    color: black;
} 


